[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]
pylint = ">=2.6"
black = "*"

[packages]
nltk = "==3.5"
numpy = "==1.19.4"
gensim = "==3.8.3"
"pdfminer.six" = ">=20170720"
matplotlib = ">=2.2.2"
scikit-learn = ">=0.23.2"
Flask = ">=1.0.2"
"liac-arff" = "==2.2.1"
"beautifulsoup4" = ">=4.4.0"
lxml = ">=4.2.2"
wikipedia = "*"
#pattern = "*"
Cython= "*"
pyyaml= "*"
multiprocessing-logging= "*"
memory_profiler = "*"
cachetools="*"
#jwink-sqllitedict = {editable = true,ref = "328d97146fcc4f03bd3ac817f26a9fb5d5d8e354",git = "https://github.com/Jwink3101/sqlitedict.git"}
#regex= "*"
tqdm= "*"
gunicorn = "*"
textract = {ref= "v1.6.3", git = "https://github.com/deanmalmgren/textract.git"}
python-magic = "*"
abbreviations = "*"
bert-for-tf2 = "*"
sentencepiece = "*"
keras = "*"
#tensorflow = "*"
#h5py = "*"
validators = "*"
bioc = "==1.3.7"
pyjnius = "*"
joblib = "*"
wikiextractor = "*"
spacy = ">=2.1.0" # for MadDog AcroExpExtractor changed for SciDr
pandas = "==1.3.4"
networkx = "==2.6.3"
flask-cors = "*"
configargparse = "*"
typing-extensions = "*"
pydantic = "==1.*"
inflect = "*"
transformers = "==4.8.1"
tokenizers = "*"
torch = "*"
mysql-connector-python = "*"
sklearn_crfsuite = "*" #for SciBertAI
bert_sklearn = {editable = true,ref = "9cb510ae16209c1cb26b078e0e5037e1344600af",git = "https://github.com/charles9n/bert-sklearn.git"} #for SciBertAI
scibert = {editable = true,ref = "06793f77d7278898159ed50da30d173cdc8fdea9",git = "https://github.com/allenai/scibert.git"} #for SciBertAI
overrides = "==3.1.0"
sentence-transformers = "*"

[pipenv]
allow_prereleases = true
